.ant-layout-header {
    color: #fafafa;
    background: #2aafa9 !important;
}
.logo{
    width: 120px;
    height: 31px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px 24px 16px 0;
    float: left;
}
.searchInput{
    width: auto;
    height: 31px;
    float: right;
    margin: 0px 24px 16px 16px;
    background: #2aafa9;
}
.ant-btn{
    position: absolute;
    margin: 16px 24px 16px 0;
}